@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(10, 0, 0);  
  color: white;
  font-family: 'Poppins', sans-serif; 
}

.presentation{
  position: relative;
  left: 34%;
  top: 200px;
  width: 50%;
}

h1{
  text-shadow: 1px 1px 1px black;
  font-size: 7em;
  margin-top: 1%;
  margin-bottom: -100px;
  overflow: hidden;
  white-space: nowrap;
  animation: none;
}



#student1, #student2, #student3, #student4{
  display: inline-block;
}

.RGUID{
  color: rgb(229,186,9); 
  text-shadow: 1px 1px 1px black;
}


#stu1, #stu2, #stu3, #stu4{
    position: relative;
    left: 40px;
    font-size: 1.5em;
    overflow: hidden;
    /* border-right: .15em solid rgb(246, 0, 0); */
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1s steps(25, end) forwards;

}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}